:root {
  --clr-neon: #ffffff;
  --clr-bg: #001414;
  --font-size: 1rem;
  text-decoration: none;
}

body {
  margin: 0;
  font-size: 5em;
  background-image: url(img/bg.jpg);
}
.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("img/valentin-petrov-m-mal-01.jpg");
  background-size: cover;
  background-position: center;
  animation: bgZoomIn 4s ease-in-out 1 forwards;
  z-index: -1;
  pointer-events: none;
}
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("img/after.png");
  background-size: cover;
  background-position: top;
  transform: scale(2);
  animation: bgZoomOut 4s ease-in-out 1 forwards;
  z-index: -1;
  pointer-events: none;
}
@keyframes bgZoomIn {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes bgZoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

svg path {
  fill: transparent;
  stroke: #ffffff;
  stroke-width: 0.9;
  stroke-dasharray: 50;
  stroke-dashoffset: 40;
  animation: textAnimation 4s ease-in-out 1 forwards;
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #ffffff;
    stroke-dashoffset: 0;
  }
}

/* .banner .title :last-child {
  display: block; /* Jika perlu, buat elemen berdiri sendiri */
  position: relative;
  left: 20%;
  top: -200px; /* Sesuaikan agar naik */
}

.banner a {
  position: absolute;
  top: 550px; /* Sesuaikan dengan kebutuhan */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Awalnya transparan */
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 1s; /* Delay sebelum muncul */
  text-decoration: none;
  color: var(--clr-neon);
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.neon {
  margin-top: -20px;
  font-size: var(--font-size);
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.2em #fff7, 0 0 0.3em var(--clr-neon);
  box-shadow: inset 0 0 0.5em var(--clr-neon), 0 0 0.5em var(--clr-neon);
}

.neon::before {
  content: "";
  position: absolute;
  top: 140%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(0.2em) rotateX(10deg) scale(1.3, 0.4);
  filter: blur(0.5em);
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 100ms linear;
}

.neon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-neon);
  box-shadow: 0 0 2em var(--clr-neon);
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.neon:hover::after {
  opacity: 1;
}
.neon:hover,
.neon:focus {
<<<<<<< HEAD
  color: rgb(0, 0, 0);
=======
  color: black;
>>>>>>> 27005c69e9be962740ee68d446a11d138740f04d
}
.neon:hover::before {
  opacity: 0.8;
}
